{extend name='common' /}

{block name='header'}
<script src="__ZY__/node_modules/vue/dist/vue.js"></script>
<script src="__ZY__/node_modules/axios/dist/axios.js"></script>
<style>
    .count-box input {
        width: 110px;
        border: none;
        padding: 0px;
        margin: 0;
        height: 38px;
        line-height: 38px;
        text-indent: 2em;
    }
</style>
{/block}

{block name='content'}

<div class="bg-f5f5f5 p-b-10">
    <div class="currentloc bg-f5f5f5 clear">
        <div class="center f12">
            <div class="fl"><a href="/">首页</a><span>/</span>{$goodsData['gname']}</div>
            <a href="" class="fr qqbtn tc f-666" target="_blank">QQ在线交谈</a>
            <span class="fr f-666">服务热线：400-111-111 (8:00－24:00)</span>
            <span class="fr m-r-100 f-a5937d"><!-- 节日名称  <i class="icon-bgr icon-gift m-l-10"></i>--></span>
        </div>
    </div>


    <div class="goods-info bg-fff overhide">
        <div class="center clear m-t-60">
            <div class="img-sm fl m-r-60" id="goods_img_list">
                {foreach $images as $k=>$v}
                <img src="{$v}" class=" img_id_{$k}">
                {/foreach}

            </div>
            <div class="img-single fl rel" id="goods_single_list"><span class="loading f16">
            <img src="__ZHOME__/picture/ajax-loader.gif"></span>

                {foreach $images as $k=>$v}
                <img src="{$v}" class="cloudzoom"
                     <?php if($k !=1): ?> style="display:none;" <?php endif; ?>>
                {/foreach}

            </div>
            <!--购物车页面-->
            <div class="goods-attr fr" >
                <h2 class="lh1 f30" v-text="goodsData['gname']"></h2>
                <h3 class="fn f14 m-t-20 f-666" v-text="goodsData['description']"></h3>
                <div class="clear m-t-20 price-box lh1">
                    <span class="fl f-d93732 f24 fb price-show" ><span v-text="goodsData['gprice']"></span>元</span>
                </div>
                <div class="p-y-20">
                    <?php if($subGoodsData): ?>
                    <div class="attr-box clear">
                        <span class="fl pro-title dib f-666">礼物款式：</span>
                        <span class="fl">


                          <a href="javascript:" @click="add(v.sname,k)" class="select_attr  dib m-r-8 s_226" v-for="(v,k) in subGoodsData" >
                                {{v.sname}}
                          </a>

                         </span>
                    </div>
                    <div class="attr-box clear">

                        <span class="fl pro-title dib f-666" >数量：</span>
                        <div class="dib count-box">
                            <input type="number" v-model="goods.num" value="1" min="1" :max="totalNum" >
                        </div>
                    </div>
                    <div class="attr-box clear">
                        <span class="fl pro-title dib f-666">库存：{{totalNum}} 件</span>
                    </div>
                    <?php endif; ?>
                </div>
                <div class=" clear m-t-20 lh1">
                    <form action="/home/Cart/index" method="post" id="hidden" >
                        <textarea name="data" style="display: none">{{goods}}</textarea>
                    </form>
                    <a href="javascript:void(0)" id="add_to_cart" @click="submits" class="btn-red-single  " style="background-color:#FFD9BC;color: #E5511D;padding: 15px 50px;margin-right: 10px">
                        立即购买
                    </a>




                    <a href="javascript:void(0)" @click="commits" id="product_diy" class="btn-red-single  " >加入购物车</a>
                </div>
                <div class="btn-others">
                    <a href="/category/{$goodsData['pid']}.html"><i class="icon-bgr icon-item m-r-10"></i>查看更多同类商品</a>
                </div>
            </div>
        </div>
    </div>
    <!--购物车结束-->

    <!--商品简介-->
    <div class="detail-content bg-fff">
        {$goodsData['details']}
    </div>
    <!--商品简介结束-->

    <div class="screen-image dn" id="screen_image" onselectstart="return false;">
        <div id="naturalpic" class="tc rel"><img src="__ZHOME__/picture/ajax-loader.gif" class="loading"></div>
        <i class="icon-bgr icon-goods-close hander" id="evt_close"></i>
        <i class="icon-bgr icon-goods-left hander" id="evt_left"></i>
        <i class="icon-bgr icon-goods-right hander" id="evt_right"></i>
        <ul id="tablist" class="tc"></ul>
    </div>
</div>

{/block}

{block name='footer'}
<div class="toolbars tc" id="back_to_top">
    <a href="" target="_blank" class="ani-bg" id="goods_qq_chat"><i class="icon-bgr icon-qq"></i></a>
    <a href="javascript:void(0)" class="ani-bg m-t-10"><i class="icon-bgr icon-totop"></i></a>
</div>
<script>
    (function($){
        var $window = $(window),$totop = $("#back_to_top");
        $window.scroll(function(){
            winTop();
        });
        function winTop(){
            if($window.scrollTop()<100){
                $totop.stop().fadeOut(300);
            }else{
                $totop.stop().fadeIn(300);
            }
        }
        winTop();
    })(jQuery);

</script>

<script>
    new Vue({
        el:'#app',
        data:{
            goodsData:{$goodsData},
            subGoodsData:{$subGoodsData},
            goodsnum:0,
            goods:{
                'id':{$goodsData->gid},
                'name':'{$goodsData->gname}',
                'num':1,
                'price':{$goodsData->gprice},
                'options':'',
            },
            totalNum : {$totalNum},

        },

        methods:{
            add(v,k){
                this.goods['options'] = [v];
                this.totalNum =this.subGoodsData[k]['snum'];
            },
            commits(){
                if(this.goods['options'] == ''){
                    alert('请选择商品的款式');

                    // 判断商品数量

                }else {
                    data = JSON.stringify(this.goods);
                    axios.post('/home/cart/add',{data:data}).then(function (response) {
                        // 将购物车数据 返回
                    })
                }


            },
            submits(){
                if(this.goods['options'] == ''){
                    alert('请选择商品款式')
                }else {
                    $('#hidden').submit();
                }

            }
        },
    })

</script>

<script src="__ZHOME__/js/goods.js"></script>

{/block}

