{extend name='common' /}

{block name='header'}
    <link rel="stylesheet" href="__ZHOME__/css/user.css">
<style>

</style>
{/block}

{block name='content'}

<div class="bg-f5f5f5 p-b-10">
    <div class="currentloc bg-f5f5f5 clear">
        <div class="center f12">
            <div class="fl"><a href="/">首页</a><span>/</span>填写订单</div>
            <a href="" class="fr qqbtn tc f-666" target="_blank">QQ在线交谈</a>
            <span class="fr f-666">服务热线：400-611-2156 (8:00－24:00)</span>
            <span class="fr m-r-100 f-a5937d"></span>
        </div>
    </div>


    <form action="" method="post" name="theForm"  >

        <div class="md-order center bg-fff">
            <div class="address clear b-b-3">

                <div class="form-group">
                    <label for="inputID" class=" title fl f16 ">收货地址:</label>
                    {if condition='$address'}
                        <div class="col-sm-10">
                            <select name="address" id="inputID" class="form-control" style="background:#FAFFBD;width: 60%;height: 50px">
                                {foreach $address as $v}
                                <option value="{$v['id']}">{$v['address']['province']}-{$v['address']['city']}-{$v['address']['county']}-{$v['address']['xiangxi']}</option>
                                {/foreach}
                            </select>
                        </div>
                    {else /}
                        <div class="cont fl checkbox ">
                            <input type="text" name="address" required style="background:#FAFFBD;">
                            <br><br>
                            <p>你还没有收货地址，请到 <a href="/address.html" style="padding: 6px">个人中心</a> 填写收获地址，或者手动填写收货地址</p>
                        </div>

                    {/if}
                </div>
            </div>
            <div class="address clear b-b-3">
                <span  class=" title fl f16 " style="line-height: 63px">收货人:</span>
                <div class="cont fl checkbox ">
                    <input type="text" name="username" required value="<?php echo  session('user.user_username') ?>" style="background:#FAFFBD;">
                </div>
            </div>
            <div class="address clear b-b-3">
                <span  class=" title fl f16 " style="line-height: 63px">联系电话:</span>
                <div class="cont fl checkbox ">
                    <input type="text" name="phone" required style="background:#FAFFBD;">
                </div>
            </div>
            <div class="address clear b-b-3">
                <span  class=" title fl f16 " style="line-height: 63px">备注:</span>
                <div class="cont fl checkbox ">
                    <textarea class="form-control"  rows="3"   name="note" placeholder="备注" style="background:#FAFFBD;width: 80%"></textarea>
                </div>
            </div>
            <div class="pay-way clear m-x-65 rel"><div class="mask dn"></div>
                <span class="title fl lh50 f16">支付方式</span>
                <div class="cont fl checkbox tc">
                    <a href="javascript:void(0)" data-js-bind="select_payment" data-pay_id="0" class="focus fl">货到付款</a>
                    <a href="javascript:void(0)" data-js-bind="select_payment" data-pay_id="3" class="m-l-30 fl payment-cod" style="display:none">货到付款&nbsp;手续费 <span class="f-d93732">¥6.0</span></a>
                </div>
            </div>
            <div class="goods-list clear m-x-65 rel"><div class="mask dn"></div>
                <p class="clear p-b-10"><span class="title f16">商品清单</span>
                    <a href="/cart.html" class="fr"><i class="icon-bgr icon-arrowL m-r-10"></i>返回购物车修改</a>
                </p>
                <div class="cont tc">
                    <table>
                        {foreach $goodsData['goods'] as $v}
                        <tr data-rec-id="1301026" >
                            <td width="45%" class="tl">
                                <a href="javascript:void(0)">
                                    <img src="{$v['info']['cover']}" class="m-r-10 dib">
                                    <span class="dib overtxt">{$v['name']}</span>
                                </a>
                            </td>
                            <td>{$v['price']} x {$v['num']}</td>
                            <td>{$v['total']}</td>
                        </tr>
                        {/foreach}
                    </table>
                </div>
            </div>
           <div>
           <div class="pay-detail clear m-x-65 rel">

               <div>
                   <div class="fr">
                       <table>
                           <tbody>
                           <tr>
                               <td>商品件数：</td><td class="tr" id="total_real_goods_count">{$goodsData['total_rows']}</td>
                           </tr>
                            <tr>
                                <td>金额合计：</td><td class="tr" id="total_goods_price">￥{$goodsData['total']}</td>
                            </tr>
                       </tbody>
                       </table>
                   </div>
               </div>

           </div>
           </div>
            <div class="order-btn tr rel">
                <button type="submit" class="btn-red-single submit_order" style="outline: none">提交订单</button>
            </div>

        </div>
    </form>

</div>

{/block}

{block name='footer'}

<div class="currentloc bg-f5f5f5 clear">
    <div class="center f12">
        <div class="fl"><a href="#">首页</a><span>/</span>个人信息</div>
        <a href="http://crm2.qq.com/page/portalpage/wpa.php?uin=4006112156&cref=http://www.liwuyou.com/&ref=&f=1&ty=1&ap=&as=" class="fr qqbtn tc f-666" target="_blank">QQ在线交谈</a>
        <span class="fr f-666">服务热线：400-611-2156 (8:00－24:00)</span>
        <span class="fr m-r-100 f-a5937d"><!-- 节日名称  <i class="icon-bgr icon-gift m-l-10"></i>--></span>
    </div>
</div>


{/block}

{block name='footer'}


{/block}