{extend name='common' /}

{block name='header'}
<link rel="stylesheet" href="__ZHOME__/css/user.css">
<link rel="stylesheet" href="__ZY__/node_modules/hdjs/css/bootstrap.min.css">

{/block}

{block name='content'}

<div class="currentloc bg-f5f5f5 clear">
    <div class="center f12">
        <div class="fl"><a href="#">首页</a><span>/</span>个人信息</div>
        <a href="#" class="fr qqbtn tc f-666" target="_blank">QQ在线交谈</a>
        <span class="fr f-666">服务热线：400-611-2156 (8:00－24:00)</span>
        <span class="fr m-r-100 f-a5937d"><!-- 节日名称  <i class="icon-bgr icon-gift m-l-10"></i>--></span>
    </div>
</div>

<div class="md-account clear bg-f5f5f5">
    <div class="center">
        <div class="user-left fl bg-fff">
            <p class="tc user-exit">
                <a class="icon-bgr icon-account" title="退出" href="/logout.html"></a><br>
                <span class="dib p-t-10"><?php echo  session('user.user_username') ?></span>
            </p>
            <ul class="tree-list m-t-28">
                <li><a href="#" class="">我的订单</a></li>
                <li class="m-t-15"><a href="user.html" >个人信息</a></li>
                <li><a href="/changepassword.html" >修改密码</a></li>
                <li><a href="/address.html" class="current">我的地址</a></li>
            </ul>
        </div>
        <div class="user-right fr bg-fff">
            <div class="user-title f30 f-666">我的地址薄</div>
            <div class="user-content address-book">
                <table class="table table-hover" >
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>地址</th>
                        <th width="100">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $address as $k=>$v}
                    <tr>
                        <td>{$k+1}</td>
                        <td>{$v['address']['province']}-{$v['address']['city']}-{$v['address']['county']}-{$v['address']['xiangxi']}</td>
                        <td>
                            <a href="">编辑</a>
                            <a href="">删除</a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            <hr>
            <h1 class="text-center">地址添加</h1>
            <hr>
            <div class="container">

                <form action="" method="post" class="form-inline">

                    <div class="form-group">

                        <div class="col-sm-12" data-toggle="distpicker">
                            <select name="province" class="form-control"></select>
                            <select name="city" class="form-control"></select>
                            <select name="county" class="form-control"></select>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label>详细信息：</label>
                        <textarea required name="xiangxi" class="form-control"  cols="46" rows="3" placeholder="详细信息"></textarea>

                    </div>
                    <hr>
                    <button type="submit" class="form-control">提交</button>
                </form>
            </div>


        </div>
    </div>
    </div>
</div>

{/block}

{block name='footer'}

<div class="currentloc bg-f5f5f5 clear">
    <div class="center f12">
        <div class="fl"><a href="/">首页</a><span>/</span>个人信息</div>
        <a href="http://crm2.qq.com/page/portalpage/wpa.php?uin=4006112156&cref=http://www.liwuyou.com/&ref=&f=1&ty=1&ap=&as=" class="fr qqbtn tc f-666" target="_blank">QQ在线交谈</a>
        <span class="fr f-666">服务热线：400-611-2156 (8:00－24:00)</span>
        <span class="fr m-r-100 f-a5937d"><!-- 节日名称  <i class="icon-bgr icon-gift m-l-10"></i>--></span>
    </div>
</div>

<script src="__ZHOME__/js/distpicker.data.js"></script>
<script src="__ZHOME__/js/distpicker.js"></script>

{/block}
